p{
    font-weight: bold;
    font-size: 17px;
    color:   #8B4513;
}
.link{
	color: red;
}
a{
	color: blue;
	color:  #8B4513;

}
body{
	background: linear-gradient(#FFE7BA,#FA8072);
}
h2{
	color:  #8B4513;
}
h4{
	color:  #8B4513;
}
h3{
	color:  #8B4513;
}
li{
	color:  #8B4513; 
}
hr{
	border: 1px dotted  #8B4513;
} 